@model Pearl.Models.Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mFirstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mFirstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mOthername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mOthername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mMaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mMaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAgeGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAgeGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mNearestBustop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mNearestBustop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mLGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mLGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPhoneNo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPhoneNo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mPhoneNo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mPhoneNo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAnnivDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAnnivDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAnnivMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAnnivMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpoueAttending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpoueAttending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpouseEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpouseEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mEmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mEmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mEmployerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mEmployerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mProfession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mProfession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpouseProfession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpouseProfession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAltarCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAltarCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAltarCallChurch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAltarCallChurch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mBaptismalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mBaptismalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpousePhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpousePhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSpousePhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSpousePhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mWorker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mWorker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mDept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mDept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mAreaOfInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mAreaOfInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mSuggestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mSuggestion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
